# --- IDE & System ---
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
Thumbs.db

# --- Build & Output ---
target/
build/
bin/
out/

# --- Java & Logs ---
*.class
*.log
hs_err_pid*
replay_pid*

# --- Project Specific ---
run/
server/
plugins/

# --- Archives ---
*.jar
*.war
*.zip
# !libs/*.jar